<!DOCTYPE html>
<html lang="en">
<!--
	Bent - Bootstrap Landing Page Template by Dcrazed
	Site: https://dcrazed.com/bent-app-landing-page-template/
	Free for personal and commercial use under GNU GPL 3.0 license.
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ibagens - Deixe seu site mais leve</title>
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="css/Pe-icon-7-stroke.css">

    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">


    <!-- PrettyPhoto -->
    <link href="css/prettyPhoto.css" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body ng-app="ibagens" ng-controller="ibagensCtrl" >
    <!-- PRELOADER -->
    <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

 <!-- END PRELOADER -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="images/a190ba94-7ea6-4766-b2cf-e29d115becac.png" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">INICIO</a> </li>
                            <li><a href="#ABOUT">SOBRE</a> </li>
                            <li><a href="#FEATURES">FUNÇÕES</a></li>
                            <!--<li><a href="#SCREENS">DEMONSTRAÇÕES</a> </li>-->
                            <!--<li><a href="#DOWNLOAD">DOWNLOAD </a> </li>-->
                            <li><a href="#CONTACT"> CADASTRE-SE </a> </li>
                            <li><a data-toggle="modal" data-target="#login-modal" > ENTRAR </a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO -->
                            <img width="250" src="images/a190ba94-7ea6-4766-b2cf-e29d115becac.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>Uma plataforma de tratamento de imagens</h1>
                            <p>
                                Esta plataforma destina-se a tratar imagens de forma prática para uso em sites e aplicativos.
                            </p>
                            <div class="download-btn">
                                <a class="btn home-btn wow fadeInLeft" href="#CONTACT">Entre ou cadastre-se</a>
                                <a class="tuor btn wow fadeInRight" href="#ABOUT">Sobre nós <i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1 col-sm-4">
                        <div class="home-iphone">
                            <video id="video" width="550" loop src="video/video.mp4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->

    <!-- =========================
         START ABOUT US SECTION
         ============================== -->

    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>Sobre nós</h2>
                        <p>
                            O Ibagens é uma ferramenta capaz de transformar diferentes tipos de imagens para formatos que atendam melhor às necessidades de um site ou aplicativo.                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="images/ideias.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2>O que podemos fazer <br> para sua aplicação</h2>
                            <p>.</p>
                        </div>
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-upload"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>UPLOAD DE IMAGENS</h3>
                                <p>Carregue imagens de segurança ou qualquer outro arquivo, em qualquer escala de qualquer fonte. API para upload rápido diretamente dos navegadores de seus usuários ou aplicativos para dispositivos móveis.</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-tools"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>MANIPULAÇÃO DE IMAGEM</h3>
                                <p>Manipule suas imagens dinamicamente para se adequar a qualquer design gráfico. Aplica efeitos, redimensionamento, corte, detecção de rosto, marcas d'água e toneladas de recursos de processamento de imagem.</p>
                            </div>
                            <!-- END SINGLE DESC -->



                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-photo-gallery"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>ARMAZENAMENTO NA NÚVEM</h3>
                                <p>Armazene tantas imagens quanto necessário. Nosso serviço de hospedagem de imagens armazena imagens de forma privada e segura.</p>
                            </div>
                            <!-- END SINGLE DESC -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="video_area">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6 wow fadeInLeftBig">-->
                    <!--&lt;!&ndash; VIDEO LEFT TITLE &ndash;&gt;-->
                        <!--<div class="video_title">-->
                            <!--<h2>Best App <br>in the market</h2>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>-->
                        <!--</div>-->
                        <!--<div class="video-button">-->
                            <!--&lt;!&ndash; BUTTON &ndash;&gt;-->
                            <!--<a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 wow fadeInRightBig">-->
                         <!--&lt;!&ndash; VIDEO &ndash;&gt;-->
                        <!--<div class="video">-->
                            <!--<iframe src="https://player.vimeo.com/video/88209254?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="560" height="315"></iframe>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </section>
    <!-- End About Us -->




 <!-- =========================
     START TESTIMONIAL SECTION
============================== -->

    <section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInDown">
                        <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <!--<ol class="carousel-indicators">-->
                                <!--<li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>-->
                                <!--&lt;!&ndash;<li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>&ndash;&gt;-->
                            <!--</ol>-->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img width="130" src="images/marcos_n.jpg" alt="">
                                                <div class="testimonial_caption">
                                                   <!-- DESCRIPTION -->  
                                                    <h2>Marcos Soares</h2>
                                                    <h4><span>Desenvolvedor Web - </span> <a onclick="window.open('http://teewa.com.br')" >Teewa</a></h4>
                                                    <p>“Não deixe pra amanhã o que você deveria ter feito semana passada.”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- END TESTIMONIAL SECTION -->



<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2>Funções</h2>
                        <p> Veja algumas das funções oferecidas pela API.</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-like"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Redimensionamento<span>/</span></h3>
                            <p>Altera o tamanho da imagem de forma que os pixels da imagem original sejam modificados para ficar dentro das novas limitações solicitadas, isso quebra os a os aspectos originais da imagem.</p>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-science"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Recorte<span>/</span></h3>
                            <p>Realizar corte nas dimensões especificadas, a partir do centro é possível obter apenas a região correspondente às dimensões passadas.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-look"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Circular<span>/</span></h3>
                            <p>Retorna uma versão circular da imagem requisitada.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="images/iPhone02.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-monitor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Escala de cinza</h3>
                            <p>Aplica um filtro cinza sobre a imagem, isso é feito através do parâmetro gray na requisição. É possível combinar esse filtro com qualquer outra transformação, por exemplo, a partir de um crop.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-phone"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Borrão</h3>
                            <p>Retorna uma imagem contendo apenas o padrão de cores da imagem original e com a menor tamanho possivel.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Foto a partir de nome informado</h3>
                            <p>Gera uma imagem default para uso em, por exemplo, perfis de usuários que não cadastram fotos.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->



<!--&lt;!&ndash; =========================-->
     <!--START CALL TO ACTION-->
<!--============================== &ndash;&gt;-->
    <!--<div class="call_to_action">-->
        <!--<div class="container">-->
            <!--<div class="row wow fadeInLeftBig" data-wow-duration="1s">-->
                <!--<div class="col-md-9">-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et olore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<a class="btn btn-primary btn-action" href="#" role="button">Download Now</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; END CALL TO ACTION &ndash;&gt;-->


<!--&lt;!&ndash; =========================-->
     <!--Start APPS SCREEN SECTION-->
<!--============================== &ndash;&gt;-->
    <!--<section class="apps_screen page" id="SCREENS">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">-->
                        <!--&lt;!&ndash; APPS SCREEN TITLE &ndash;&gt;-->
                        <!--<div class="section_title">-->
                            <!--<h2>Screenshots</h2>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>                           -->
                        <!--</div>-->
                        <!--&lt;!&ndash; END APPS SCREEN TITLE &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--<div class="screen_slider">-->
            <!--<div id="demo" class="wow bounceInRight" data-wow-duration="1s">-->
                <!--<div id="owl-demo" class="owl-carousel">-->

                    <!--&lt;!&ndash; APPS SCREEN IMAGES &ndash;&gt;-->
                    <!--<div class="item">-->
                    <!--<a href="images/iphone04.png" rel="prettyPhoto[pp_gal]"><img src="images/iphone04.png" width="60" height="60" alt="APPS SCREEN" /></a>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<a href="images/iphone05.png" rel="prettyPhoto[pp_gal]"><img src="images/iphone05.png" width="60" height="60" alt="APPS SCREEN" /></a>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<a href="images/iphone06.png" rel="prettyPhoto[pp_gal]"><img src="images/iphone06.png" width="60" height="60" alt="APPS SCREEN" /></a>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<a href="images/iphone07.png" rel="prettyPhoto[pp_gal]"><img src="images/iphone07.png" width="60" height="60" alt="APPS SCREEN" /></a>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<a href="images/iphone08.png" rel="prettyPhoto[pp_gal]"><img src="images/iphone08.png" width="60" height="60" alt="APPS SCREEN" /></a>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<a href="images/iphone09.png" rel="prettyPhoto[pp_gal]"><img src="images/iphone09.png" width="60" height="60" alt="APPS SCREEN" /></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->



    <!--&lt;!&ndash; ENS APPS SCREEN &ndash;&gt;-->





<!-- =========================
     Start FUN FACTS
============================== -->


    <section class="fun_facts parallax">
        <div class="section_overlay">
            <div class="container wow bounceInLeft" data-wow-duration="1s">
                <div class="row text-center">
                    <!--<div class="col-md-3">-->
                        <!--<div class="single_fun_facts">-->
                            <!--<i class="pe-7s-cloud-download"></i>-->
                            <!--<h2><span  class="counter_num">699</span> <span>+</span></h2>-->
                            <!--<p>Downloads</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<div class="single_fun_facts">-->
                            <!--<i class="pe-7s-look"></i>-->
                            <!--<h2><span  class="counter_num">1999</span> <span>+</span></h2>-->
                            <!--<p>Likes</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<div class="single_fun_facts">-->
                            <!--<i class="pe-7s-comment"></i>-->
                            <!--<h2><span  class="counter_num">199</span> <span>+</span></h2>-->
                            <!--<p>Feedbacks</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<div class="single_fun_facts">-->
                            <!--<i class="pe-7s-cup"></i>-->
                            <!--<h2><span  class="counter_num">10</span> <span>+</span></h2>-->
                            <!--<p>Awards</p>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </section>

    <!--&lt;!&ndash; END FUN FACTS &ndash;&gt;-->




<!--&lt;!&ndash; =========================-->
     <!--START DOWNLOAD NOW -->
<!--============================== &ndash;&gt;-->
    <!--<section class="download page" id="DOWNLOAD">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-10 col-md-offset-1">-->
                    <!--&lt;!&ndash; DOWNLOAD NOW SECTION TITLE &ndash;&gt;-->
                    <!--<div class="section_title">-->
                        <!--<h2>download now</h2>-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;END DOWNLOAD NOW SECTION TITLE &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-8 col-md-offset-2">-->
                    <!--<div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">-->
                        <!--<img src="images/download_screen.png" alt="">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="available_store">-->
            <!--<div class="container  wow bounceInRight" data-wow-duration="1s">-->
                <!--<div class="col-md-6">-->
                    <!--<div class="available_title">-->
                        <!--<h2>Available on</h2>-->
                        <!--<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; DOWNLOADABLE STORE &ndash;&gt;-->
                <!--<div class="col-md-6">-->
                    <!--<div class="row">-->
                        <!--<a href="">-->
                            <!--<div class="col-md-4 no_padding">-->
                                <!--<div class="single_store">-->
                                    <!--<i class="fa fa-apple"></i>-->
                                    <!--<div class="store_inner">-->
                                        <!--<h2>iOS</h2>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                        <!--<div class="col-md-4 no_padding">-->
                            <!--<a href="">-->
                                <!--<div class="single_store">-->
                                    <!--<i class="fa fa-android"></i>-->
                                    <!--<div class="store_inner">-->
                                        <!--<h2>ANDROID</h2>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 no_padding">-->
                            <!--<a href="">-->
                                <!--<div class="single_store last">-->
                                    <!--<i class="fa fa-windows"></i>-->
                                    <!--<div class="store_inner">-->
                                        <!--<h2>WINDOWS</h2>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; END DOWNLOADABLE STORE &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; END DOWNLOAD &ndash;&gt;-->

<!-- =========================
     START CONTCT FORM AREA
============================== -->
    <section class="contact page" id="CONTACT">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>Cadastre-se</h2>
                        <p>Comece agora mesmo a utilziar a plataforma, a versão atual é uma versão de testes, por isso se encontra disponível de forma gratuita.</p>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="container">
                <!-- CONTACT FORM starts here, Go to contact.php and add your email ID, thats it.-->
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="nome" placeholder="Nome">
                            <input type="email" class="form-control" ng-model="email" placeholder="E-mail">
                            <input type="password" class="form-control" ng-model="senha" placeholder="Senha">
                        </div>

                        <div class="col-md-4" align="center">
                            <button type="button" ng-click="cadastro(nome, email, senha)" class="btn btn-default submit-btn form_submit">Cadastrar-se</button>
                            <br> OU <br>
                            <button data-toggle="modal" data-target="#login-modal" id="login"; class="btn btn-default submit-btn">Entrar</button>
                        </div>
                    </div>
                <!-- END FORM -->
                </div>
            </div>


            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12 wow bounceInLeft">-->
                        <!--<div class="social_icons">-->
                            <!--<ul>-->
                                <!--<li><a href=""><i class="fa fa-facebook"></i></a>-->
                                <!--</li>-->
                                <!--<li><a href=""><i class="fa fa-twitter"></i></a>-->
                                <!--</li>-->
                                <!--<li><a href=""><i class="fa fa-dribbble"></i></a>-->
                                <!--</li>-->
                                <!--<li><a href=""><i class="fa fa-behance"></i></a>-->
                                <!--</li>-->
                                <!--<li><a href=""><i class="fa fa-youtube-play"></i></a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </section>
    <!-- END CONTACT -->
    <div class="modal fade" id="login-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Entrar</h1><br>
                <form>
                    <input class="form-control" type="text" ng-model="email2" name="user" placeholder="Username">
                    <input class="form-control" type="password" ng-model="senha2" name="pass" placeholder="Password">
                </form>
                <button ng-click="entrar(email2, senha2)" class="btn btn-default submit-btn" value="Login">Login<button>
            </div>
        </div>
    </div>
<!-- =========================
     Start Subscription Form 
============================== -->



    <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="section_overlay wow lightSpeedIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <div class="section_title">
                            <h2>Justificativa</h2>
                            <p>Esta plataforma foi desenvolvida para aplicar a integração dos conhecimentos obtidos no curso de Sitemas de Informação, na Universidade Federal do Amazomas, afim de ser apresentado em uma monográfia.</p>
                        </div>
                        <!-- End Subscribe Section Title -->
                    </div>
                </div>
            </div>

            <!--<div class="container">-->
                <!--<div class="row  wow lightSpeedIn">-->
                    <!--<div class="col-md-6 col-md-offset-3">-->
                        <!--&lt;!&ndash; SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES &ndash;&gt;-->
                        <!--<div class="subscription-success"></div>-->
                        <!--<div class="subscription-error"></div>-->
                        <!--&lt;!&ndash; Check this topic on how to add email subscription list, http://kb.mailchimp.com/lists/signup-forms/host-your-own-signup-forms &ndash;&gt;-->
                        <!--<form id="mc-form" action="https://designscrazed.us8.list-manage.com/subscribe/post" method="POST" class="subscribe_form">                         -->
                        <!--<input type="hidden" name="u" value="6908378c60c82103f3d7e8f1c">-->
                        <!--<input type="hidden" name="id" value="8c5074025d">-->
                            <!--<div class="form-group">-->
                                <!--&lt;!&ndash; EMAIL INPUT BOX &ndash;&gt;-->
                                <!--<input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" class="required email form-control" id="mce-EMAIL" placeholder="Enter Email Address" value="" >                                 -->
                            <!--</div>-->
                                <!--&lt;!&ndash; SUBSCRIBE BUTTON &ndash;&gt;-->
                            <!--<button type="submit" class="btn btn-default subs-btn">Submit</button>-->
                        <!--</form>-->


                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </section>

    <!-- END SUBSCRIPBE FORM -->


<!-- =========================
     FOOTER 
============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                        <p>Ibagens &copy; 2017. Todos os direitos rezervados.</p>
                        <p>contribua para ela no github <a href="https://github.com/mrcssoares/ibagens">Ibagens</a></p>
                    </div>
                     
                </div>

                <div class="col-md-6">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->


    <script src="js/angular/angular.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.ajaxchimp.langs.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/app.js"></script>


</body>


</html>